 <!-- Cards -->
  <section id="contact-form" >
      <div class="left">
        <p>Get In Touch</p> <img class="contact-form-line" src="images/line.svg"  alt="">
        <h1>Estimate for your
            projects.</h1>
            
            <div class="contact-form">

                <div class="floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter your name" minlength="2" required>
                    <label for="floatingNamet"></label>
                  </div>
                  <div class="floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Enter your email" required>
                    <label for="floatingEmail"></label>
                  </div>
                  <div class="floating">
                    <input id="textboxid1"  type="text" class="form-control" minlength="2"  placeholder="Enter your message" required>
                    <label for="floatingPassword"></label>
                  </div>
                  <a href="#" class="btn btn-main">Submit Now</a>


            </div>
      </div>
      <div class="right">
        <img class="image1" src="images/Kvadrat.svg"  alt="">
        <img class="image2" src="images/stortrekant.svg"alt="">
    </div>

</section>