<!-- showcase4 -->
    <section id="showcase4">
      <div class="container ">
        <div class="column ">

          <h1>Book a Meeting</h1>
              
                  <p>Does any industry face a more complex audience journey and 
                    marketing sales process than B2B technology.
                  </p>
                  <div id="form" >
                  <div class="form ">
                    <div class="row g-4">
                      <div class="col-md">
                    <div class="floating">
                    <input type="text" class="form-control Ff"placeholder="Enter your name" minlength="2" required >
                  </div> 
                </div> 
                    <div class="col-md">
                  <div class="floating">
                    <input type="email" class="form-control Ff"placeholder="Enter your email" required>
                  </div>
                </div> 
                <div class="mb-3">
                  <input type="text" class="form-control textboxid"placeholder="Enter your questions & subject here" rows="8" minlength="2" required >
                  </div>
                </div>
              </div> 
              <a href="#" class="btn btn-main">Book a Meeting Now</a>
                  </div>
        </div>
      </div>
    </section>


